<aside class="light-bg dark-content nopad">
  <h1 class="pad-txt">Active Projects</h1>
  <p class="pad-txt">Below you can find a list of my current and former work. For any questions just click on a project or hit me up on my contact page.</p>
</aside>
<aside
  data-module="React.Project.Item"
  data-image="<%= asset_url 'logx.jpg'%>"
  class="nopad nohpad dark-bg light-content"
  data-start="05/2016"
  data-end="11/2017"
  data-tools="<%= [
    asset_url('php7-transparent.png'),
    asset_url('react-logo.png'),
    asset_url('phalcon.svg'),
  ].to_json %>"
  data-target="/my/projects/201605"
  data-introduction="A projects, that goal is to create and maintain a membership management software for gyms."
  data-name="Gym Membership Management"
>
  A projects, that goal is to create and maintain a membership management software for gyms.
</aside>
<aside
  data-module="React.Project.Item"
  data-image="<%= asset_url '2016-005.jpg'%>"
  class="nopad nohpad dark-bg light-content"
  data-start="05/2016"
  data-end="07/2016"
  data-target="/my/projects/201604"
  data-tools="<%= [
    asset_url('react-logo.png'),
  ].to_json %>"
  data-introduction="React.JS training and bootstrap for a client from the network-monitoring business."
  data-name="React.JS workshop and training"
>
  React.JS training and bootstrap for a client from the network-monitoring business.
</aside>
<aside
  data-module="React.Project.Item"
  data-image="<%= asset_url 'shutterstock_218250958.jpg'%>"
  class="nopad nohpad dark-bg light-content"
  data-start="08/2015"
  data-end="09/2016"
  data-target="/my/projects/201603"
  data-tools="<%= [
    asset_url('react-logo.png'),
    asset_url('Cassandra_logo.svg'),
    asset_url('Go-brown-side.sh.png'),
    asset_url('scala-icon.svg'),
  ].to_json %>"
  data-introduction="With the help of ReactJS, Go and Cassandra We've created a truely unique way to store biometrical data in a secure and safe way."
  data-name="Biometrics for a defense contractor"
>
  With the help of ReactJS, Go and Cassandra We've created a truely unique way to store biometrical data in a secure and safe way.
</aside>
<aside
  data-module="React.Project.Item"
  data-image="<%= asset_url 'map.jpg'%>"
  class="nopad nohpad dark-bg light-content"
  data-start="01/2015"
  data-end="04/2016"
  data-target="/my/projects/201602"
  data-tools="<%= [
    asset_url('react-logo.png'),
    asset_url('Cassandra_logo.svg'),
    asset_url('Go-brown-side.sh.png'),
    asset_url('scala-icon.svg'),
    asset_url('elasticsearch.svg'),
  ].to_json %>"
  data-introduction="We developed a modern training platform where trainees learn to extract data from modern social and news sites."
  data-name="Social streams and aggregation training platform."
>
  We developed a modern training platform where trainees learn to extract data from modern social and news sites.
</aside>
<aside class="dark-bg light-content nopad">
  <h1 class="pad-txt">Previous Projects</h1>
  <p class="pad-txt">Following soon. Please contact me for details.</p>
</aside>
